In [1]:
import pandas as pd
import numpy as np

DATA CLEANING AND PREPROCESSING

In [5]:
movies_df = pd.read_csv(r'TMDB.csv')
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10000 non-null  int64
 1   movie_id              10000 non-null  int64
 2   title                 10000 non-null  object
 3   overview              9915 non-null   object
 4   keywords              10000 non-null  object
 5   genres                10000 non-null  object
 6   release_date          9977 non-null   object
 7   original_language     10000 non-null  object
 8   original_title        10000 non-null  object
 9   production_companies  10000 non-null  object
 10  revenue               10000 non-null  int64
 11  status                10000 non-null  object
 12  tagline               7320 non-null   object
 13  spoken_languages      10000 non-null  object
 14  runtime               10000 non-null  int64
 15  budget                10000 non-null  int64
 16  vote_count            10000 non-null  int64
 17  vote_average          10000 non-null  float64
 18  popularity            10000 non-null  float64
 19  adult_tf              10000 non-null  bool
 20  poster_path           9970 non-null   object
 21  cast                  10000 non-null  object
 22  crew                  10000 non-null  object
dtypes: bool(1), float64(2), int64(6), object(14)
memory usage: 1.7+ MB

In [6]:
#selecting the columns that are needed
movies_df = movies_df[['movie_id','title','overview','genres','keywords','cast','crew','vote_count','vote_average']]
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      10000 non-null  int64
 1   title         10000 non-null  object
 2   overview      9915 non-null   object
 3   genres        10000 non-null  object
 4   keywords      10000 non-null  object
 5   cast          10000 non-null  object
 6   crew          10000 non-null  object
 7   vote_count    10000 non-null  int64
 8   vote_average  10000 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 703.2+ KB

In [7]:
movies_df.head(5)

,movie_id,title,overview,genres,keywords,cast,crew,vote_count,vote_average
0,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'id': 697, 'name': 'loss of loved one'}, {'i...","[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 1721, 'kn...",3655,7.711
1,661374,Glass Onion: A Knives Out Mystery,World-famous detective Benoit Blanc heads to G...,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...","[{'id': 703, 'name': 'detective'}, {'id': 1200...","[{'adult': False, 'gender': 2, 'id': 8784, 'kn...","[{'adult': False, 'gender': 2, 'id': 1226, 'kn...",2204,7.083
2,899112,Violent Night,When a team of mercenaries breaks into a wealt...,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'id': 65, 'name': 'holiday'}, {'id': 1991, '...","[{'adult': False, 'gender': 2, 'id': 35029, 'k...","[{'adult': False, 'gender': 2, 'id': 6114, 'kn...",805,7.742
3,411,"The Chronicles of Narnia: The Lion, the Witch ...","Siblings Lucy, Edmund, Susan and Peter step th...","[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","[{'id': 83, 'name': 'saving the world'}, {'id'...","[{'adult': False, 'gender': 2, 'id': 5527, 'kn...","[{'adult': False, 'gender': 2, 'id': 1095, 'kn...",9108,7.108
4,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...","[{'id': 952, 'name': 'lightning'}, {'id': 2095...","[{'adult': False, 'gender': 2, 'id': 18918, 'k...","[{'adult': False, 'gender': 2, 'id': 3687, 'kn...",3544,7.216

In [8]:
#checking the total sum of null values in the dataset
movies_df.isnull().sum()

movie_id         0
title            0
overview        85
genres           0
keywords         0
cast             0
crew             0
vote_count       0
vote_average     0
dtype: int64

In [10]:
#dropping the rows of the overview column
movies_df.dropna(inplace=True)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9915 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      9915 non-null   int64
 1   title         9915 non-null   object
 2   overview      9915 non-null   object
 3   genres        9915 non-null   object
 4   keywords      9915 non-null   object
 5   cast          9915 non-null   object
 6   crew          9915 non-null   object
 7   vote_count    9915 non-null   int64
 8   vote_average  9915 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 774.6+ KB

In [13]:
#checking for duplicates
movies_df.duplicated().sum()

1028

In [14]:
movies_df.drop_duplicates(inplace=True)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8887 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      8887 non-null   int64
 1   title         8887 non-null   object
 2   overview      8887 non-null   object
 3   genres        8887 non-null   object
 4   keywords      8887 non-null   object
 5   cast          8887 non-null   object
 6   crew          8887 non-null   object
 7   vote_count    8887 non-null   int64
 8   vote_average  8887 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 694.3+ KB