In [27]:
import pandas as pd
import numpy as np

DATA CLEANING AND PREPROCESSING

In [28]:
movies_df = pd.read_csv(r'TMDB.csv')
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10000 non-null  int64
 1   movie_id              10000 non-null  int64
 2   title                 10000 non-null  object
 3   overview              9915 non-null   object
 4   keywords              10000 non-null  object
 5   genres                10000 non-null  object
 6   release_date          9977 non-null   object
 7   original_language     10000 non-null  object
 8   original_title        10000 non-null  object
 9   production_companies  10000 non-null  object
 10  revenue               10000 non-null  int64
 11  status                10000 non-null  object
 12  tagline               7320 non-null   object
 13  spoken_languages      10000 non-null  object
 14  runtime               10000 non-null  int64
 15  budget                10000 non-null  int64
 16  vote_count            10000 non-null  int64
 17  vote_average          10000 non-null  float64
 18  popularity            10000 non-null  float64
 19  adult_tf              10000 non-null  bool
 20  poster_path           9970 non-null   object
 21  cast                  10000 non-null  object
 22  crew                  10000 non-null  object
dtypes: bool(1), float64(2), int64(6), object(14)
memory usage: 1.7+ MB

In [29]:
#selecting the columns that are needed
movies_df = movies_df[['movie_id','title','overview','genres','keywords','cast','crew','vote_count','vote_average']]
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      10000 non-null  int64
 1   title         10000 non-null  object
 2   overview      9915 non-null   object
 3   genres        10000 non-null  object
 4   keywords      10000 non-null  object
 5   cast          10000 non-null  object
 6   crew          10000 non-null  object
 7   vote_count    10000 non-null  int64
 8   vote_average  10000 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 703.2+ KB

In [30]:
movies_df.head(5)

,movie_id,title,overview,genres,keywords,cast,crew,vote_count,vote_average
0,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'id': 697, 'name': 'loss of loved one'}, {'i...","[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 1721, 'kn...",3655,7.711
1,661374,Glass Onion: A Knives Out Mystery,World-famous detective Benoit Blanc heads to G...,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...","[{'id': 703, 'name': 'detective'}, {'id': 1200...","[{'adult': False, 'gender': 2, 'id': 8784, 'kn...","[{'adult': False, 'gender': 2, 'id': 1226, 'kn...",2204,7.083
2,899112,Violent Night,When a team of mercenaries breaks into a wealt...,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'id': 65, 'name': 'holiday'}, {'id': 1991, '...","[{'adult': False, 'gender': 2, 'id': 35029, 'k...","[{'adult': False, 'gender': 2, 'id': 6114, 'kn...",805,7.742
3,411,"The Chronicles of Narnia: The Lion, the Witch ...","Siblings Lucy, Edmund, Susan and Peter step th...","[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","[{'id': 83, 'name': 'saving the world'}, {'id'...","[{'adult': False, 'gender': 2, 'id': 5527, 'kn...","[{'adult': False, 'gender': 2, 'id': 1095, 'kn...",9108,7.108
4,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...","[{'id': 952, 'name': 'lightning'}, {'id': 2095...","[{'adult': False, 'gender': 2, 'id': 18918, 'k...","[{'adult': False, 'gender': 2, 'id': 3687, 'kn...",3544,7.216

In [31]:
#checking the total sum of null values in the dataset
movies_df.isnull().sum()

movie_id         0
title            0
overview        85
genres           0
keywords         0
cast             0
crew             0
vote_count       0
vote_average     0
dtype: int64

In [32]:
#dropping the rows of the overview column
movies_df.dropna(inplace=True)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9915 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      9915 non-null   int64
 1   title         9915 non-null   object
 2   overview      9915 non-null   object
 3   genres        9915 non-null   object
 4   keywords      9915 non-null   object
 5   cast          9915 non-null   object
 6   crew          9915 non-null   object
 7   vote_count    9915 non-null   int64
 8   vote_average  9915 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 774.6+ KB

In [33]:
#checking for duplicates
movies_df.duplicated().sum()

1028

In [34]:
movies_df.drop_duplicates(inplace=True)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8887 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      8887 non-null   int64
 1   title         8887 non-null   object
 2   overview      8887 non-null   object
 3   genres        8887 non-null   object
 4   keywords      8887 non-null   object
 5   cast          8887 non-null   object
 6   crew          8887 non-null   object
 7   vote_count    8887 non-null   int64
 8   vote_average  8887 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 694.3+ KB

Preprocessing the genres column

In [35]:
movies_df.head(10)

,movie_id,title,overview,genres,keywords,cast,crew,vote_count,vote_average
0,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'id': 697, 'name': 'loss of loved one'}, {'i...","[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 1721, 'kn...",3655,7.711
1,661374,Glass Onion: A Knives Out Mystery,World-famous detective Benoit Blanc heads to G...,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...","[{'id': 703, 'name': 'detective'}, {'id': 1200...","[{'adult': False, 'gender': 2, 'id': 8784, 'kn...","[{'adult': False, 'gender': 2, 'id': 1226, 'kn...",2204,7.083
2,899112,Violent Night,When a team of mercenaries breaks into a wealt...,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'id': 65, 'name': 'holiday'}, {'id': 1991, '...","[{'adult': False, 'gender': 2, 'id': 35029, 'k...","[{'adult': False, 'gender': 2, 'id': 6114, 'kn...",805,7.742
3,411,"The Chronicles of Narnia: The Lion, the Witch ...","Siblings Lucy, Edmund, Susan and Peter step th...","[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","[{'id': 83, 'name': 'saving the world'}, {'id'...","[{'adult': False, 'gender': 2, 'id': 5527, 'kn...","[{'adult': False, 'gender': 2, 'id': 1095, 'kn...",9108,7.108
4,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...","[{'id': 952, 'name': 'lightning'}, {'id': 2095...","[{'adult': False, 'gender': 2, 'id': 18918, 'k...","[{'adult': False, 'gender': 2, 'id': 3687, 'kn...",3544,7.216
5,736526,Troll,"Deep inside the mountain of Dovre, something g...","[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...","[{'id': 1262, 'name': 'mountain'}, {'id': 5457...","[{'adult': False, 'gender': 1, 'id': 1394758, ...","[{'adult': False, 'gender': 2, 'id': 20308, 'k...",940,6.647
6,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1463, 'name': 'culture clash'}, {'id':...","[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 1721, 'kn...",27566,7.558
7,536554,M3GAN,A brilliant toy company roboticist uses artifi...,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...","[{'id': 9707, 'name': 'evil doll'}, {'id': 123...","[{'adult': False, 'gender': 1, 'id': 1255540, ...","[{'adult': False, 'gender': 1, 'id': 494, 'kno...",91,7.110
8,668482,Roald Dahl's Matilda the Musical,An extraordinary young girl discovers her supe...,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...","[{'id': 291, 'name': 'circus'}, {'id': 295, 'n...","[{'adult': False, 'gender': 1, 'id': 2442117, ...","[{'adult': False, 'gender': 2, 'id': 463, 'kno...",255,6.822
9,740952,Savage Salvation,Newly engaged Shelby John and Ruby Red want a ...,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 9748, 'name': 'revenge'}, {'id': 15593...","[{'adult': False, 'gender': 2, 'id': 54738, 'k...","[{'adult': False, 'gender': 2, 'id': 17210, 'k...",24,5.500

In [36]:
movies_df.iloc[0].genres

"[{'id': 878, 'name': 'Science Fiction'}, {'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}]"

In [37]:
#Since genres are in string format, i will need to convert them , for further processing using the ast library to return a list of the genres

import ast
def process(genre):
    final = []
    for i in ast.literal_eval(genre):
        final.append(i['name'])
    return final

In [38]:
movies_df['genres']=movies_df['genres'].apply(process)
movies_df.head(10)

,movie_id,title,overview,genres,keywords,cast,crew,vote_count,vote_average
0,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,"[Science Fiction, Adventure, Action]","[{'id': 697, 'name': 'loss of loved one'}, {'i...","[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 1721, 'kn...",3655,7.711
1,661374,Glass Onion: A Knives Out Mystery,World-famous detective Benoit Blanc heads to G...,"[Mystery, Thriller, Comedy]","[{'id': 703, 'name': 'detective'}, {'id': 1200...","[{'adult': False, 'gender': 2, 'id': 8784, 'kn...","[{'adult': False, 'gender': 2, 'id': 1226, 'kn...",2204,7.083
2,899112,Violent Night,When a team of mercenaries breaks into a wealt...,"[Action, Comedy, Crime, Thriller]","[{'id': 65, 'name': 'holiday'}, {'id': 1991, '...","[{'adult': False, 'gender': 2, 'id': 35029, 'k...","[{'adult': False, 'gender': 2, 'id': 6114, 'kn...",805,7.742
3,411,"The Chronicles of Narnia: The Lion, the Witch ...","Siblings Lucy, Edmund, Susan and Peter step th...","[Adventure, Family, Fantasy]","[{'id': 83, 'name': 'saving the world'}, {'id'...","[{'adult': False, 'gender': 2, 'id': 5527, 'kn...","[{'adult': False, 'gender': 2, 'id': 1095, 'kn...",9108,7.108
4,436270,Black Adam,"Nearly 5,000 years after he was bestowed with ...","[Action, Fantasy, Science Fiction]","[{'id': 952, 'name': 'lightning'}, {'id': 2095...","[{'adult': False, 'gender': 2, 'id': 18918, 'k...","[{'adult': False, 'gender': 2, 'id': 3687, 'kn...",3544,7.216
5,736526,Troll,"Deep inside the mountain of Dovre, something g...","[Fantasy, Action, Adventure]","[{'id': 1262, 'name': 'mountain'}, {'id': 5457...","[{'adult': False, 'gender': 1, 'id': 1394758, ...","[{'adult': False, 'gender': 2, 'id': 20308, 'k...",940,6.647
6,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{'id': 1463, 'name': 'culture clash'}, {'id':...","[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 1721, 'kn...",27566,7.558
7,536554,M3GAN,A brilliant toy company roboticist uses artifi...,"[Horror, Science Fiction, Thriller]","[{'id': 9707, 'name': 'evil doll'}, {'id': 123...","[{'adult': False, 'gender': 1, 'id': 1255540, ...","[{'adult': False, 'gender': 1, 'id': 494, 'kno...",91,7.110
8,668482,Roald Dahl's Matilda the Musical,An extraordinary young girl discovers her supe...,"[Family, Comedy, Fantasy]","[{'id': 291, 'name': 'circus'}, {'id': 295, 'n...","[{'adult': False, 'gender': 1, 'id': 2442117, ...","[{'adult': False, 'gender': 2, 'id': 463, 'kno...",255,6.822
9,740952,Savage Salvation,Newly engaged Shelby John and Ruby Red want a ...,"[Action, Thriller, Crime, Drama]","[{'id': 9748, 'name': 'revenge'}, {'id': 15593...","[{'adult': False, 'gender': 2, 'id': 54738, 'k...","[{'adult': False, 'gender': 2, 'id': 17210, 'k...",24,5.500